.btn {
  border: none;
  border-radius: 1.5rem;

  font-size: 0.66rem;
  font-weight: 700;
  line-height: 1;

  &-primary {
    padding: 0.8rem 3rem;

    background-color: $Pink;

    color: white;
    letter-spacing: 0.5px;
  }
  &-secondary {
    padding: 0.4rem 1.25rem;

    background-color: white;

    font-size: 0.6rem;
    color: $Very-Dark-Cyan;

    box-shadow: 0 2px 15px rgba($color: $Very-Dark-Cyan, $alpha: 0.1);
  }
}

.img-logo {
  width: 100px;
}

.header {
  background-color: $Very-Pale-Cyan;
  background-image: url(../images/bg-hero-mobile.svg);

  &-top {
    padding-top: 1.5rem;
  }

  &-wrapper {
    margin-top: 2rem;
    padding: 35px;

    p {
      margin: 1.25rem 0 1.75rem;
      text-shadow: 1px 1px rgba($color: $Very-Dark-Cyan, $alpha: 0.15);
    }

    img {
      margin-top: 3rem;
    }
  }
}

.card {
  min-height: 490px;
  padding: 2rem;
  border-radius: 1rem;

  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.1);

  img {
    margin-bottom: 3rem;
    margin-top: 0.5rem;
  }

  p {
    margin-top: 1rem;
    color: $Grayish-Blue;
  }
}

.footer {
  padding-top: 7rem;
  background-color: $Very-Dark-Cyan;
  color: $Very-Pale-Cyan;
  text-align: left;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &-logo {
    width: 170px;
  }

  address {
    font-style: normal;

    > * + * {
      margin-top: 1.25rem;
    }
  }

  svg {
    path {
      fill: white;
    }
  }

  .flex {
    img {
      margin-top: 0.3rem;
    }
  }
}

.nav {
  > * + * {
    margin-top: 1.4rem;
  }
  &-link {
    display: block;
    line-height: 1;
    text-decoration: none;
    color: $Very-Pale-Cyan;
  }
}
