.btn {
  border: none;
  border-radius: 1.5rem;

  font-size: 0.66rem;
  font-weight: 700;
  line-height: 1;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.65;
  }

  &-primary {
    padding: 0.8rem 3rem;

    background-color: $Pink;

    color: $Very-Pale-Cyan;
    letter-spacing: 0.5px;
  }
  &-secondary {
    padding: 0.4rem 1.25rem;

    background-color: white;

    font-size: 0.6rem;
    color: $Very-Dark-Cyan;
  }
}

.img-logo {
  width: 100px;
}

.header {
  background-color: $Very-Pale-Cyan;
  background-image: url(../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;

  &-top {
    padding-top: 1.5rem;
  }

  &-wrapper {
    margin-top: 2rem;
    padding: 35px;

    p {
      margin: 1.25rem 0 1.75rem;
      text-shadow: 1px 1px rgba($color: $Very-Dark-Cyan, $alpha: 0.15);
    }

    img {
      margin-top: 3rem;
    }
  }
}

.main {
  position: relative;
  margin-top: 2.5rem;
  padding-bottom: 13rem;

  article + article {
    margin-top: 2.25rem;
  }
}

.box-shadow {
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.1);
}

.card {
  min-height: 490px;
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &-img {
    margin-bottom: 3.25rem;
    margin-inline: 0.5rem;
  }

  p {
    margin-top: 0.9rem;
    color: $Grayish-Blue;
  }
}

.box-float {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: min(400px, 100%);
  padding: 2.4rem 1rem;
  transform: translate(-50%, 40%);

  display: grid;
  place-content: center;

  z-index: 2;

  background-color: white;
  border-radius: 1rem;

  .btn {
    margin-top: 1.5rem;
    padding-inline: 2.5rem;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);
  }
}

.footer {
  padding-top: 7rem;
  padding-bottom: 3rem;
  background-color: $Very-Dark-Cyan;
  color: $Very-Pale-Cyan;
  text-align: left;

  &-logo {
    margin-bottom: 2rem;
  }

  address {
    font-style: normal;

    > * + * {
      margin-top: 1.25rem;
    }

    .flex {
      img {
        margin-top: 0.3rem;
      }
    }
  }

  svg {
    path {
      fill: white;
    }
  }
}

.nav {
  margin-block: 3rem;

  > * + * {
    margin-top: 1.4rem;
  }
  &-link {
    display: block;
    line-height: 1;
    text-decoration: none;
    color: $Very-Pale-Cyan;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.social {
  justify-self: center;

  &-icon {
    width: 30px;
    height: 30px;
    padding: 6px;
    border: 1px solid $Very-Pale-Cyan;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    svg {
      height: 100%;
    }

    &:hover {
      border-color: $Pink;
      svg path {
        fill: $Pink;
      }
    }
  }
}

@include mq($break-point-md) {
  .img-logo {
    width: 200px;
  }

  .header {
    background-image: url(../images/bg-hero-desktop.svg);

    &-top {
      padding-top: 50px;
    }

    &-wrapper {
      margin-top: 0;
      padding-top: 70px;
      padding-bottom: 75px;
      gap: 2rem;

      article {
        flex: 1 1 45%;
      }
      div {
        flex: 1 1 55%;

        img {
          margin: 0;
        }
      }
    }
  }

  .main {
    margin-top: 0;
    padding-top: 160px;
    padding-bottom: 345px;
  }

  .card {
    padding-inline: 25px;
    min-height: 350px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    &-img {
      margin: 0;
    }

    &-reverse-md {
      flex-direction: row-reverse;
    }
  }

  .box-float {
    width: min(800px, 100%);
    padding-block: 3rem;

    .btn {
      width: min(400px, 95%);
      margin-top: 2rem;
      margin-inline: auto;
      padding-block: 1.75rem;

      border-radius: 3rem;

      font-size: 1.05rem;
    }
  }

  .footer {
    padding-top: 10rem;

    .container {
      padding-inline-start: 25px;
    }

    p.fs-500,
    .nav-link {
      font-size: 0.95rem;
    }

    &-logo {
      grid-area: h;
    }

    address {
      grid-area: l;
    }

    .md\:flex-column-sb {
      grid-area: r;

      align-items: start;
    }
  }

  .nav {
    grid-area: m;

    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;

    > * {
      flex: 1 1 50%;

      margin: 0;
    }
  }

  .nav,
  .flex-column-center {
    margin-top: 3rem;
  }
}

@include mq($break-point-ld) {
  .btn {
    font-size: 0.75rem;

    &-primary {
      padding: 1.175rem 4rem;
    }

    &-secondary {
      font-size: 0.8rem;
      padding: 0.9rem 3.5rem;
    }
  }

  .card {
    padding-left: 120px;
    padding-right: 25px;
    min-height: 440px;

    gap: 10rem;
  }

  .footer {
    .container {
      padding-inline-start: 125px;
    }
  }
}
