body {
  text-align: center;
}

.container {
  padding: 15px;
}

.flex {
  display: flex;

  &-ai-start {
    align-items: start;
  }

  &-space-b {
    justify-content: space-between;
  }
}

.gap-2 {
  gap: 1.5rem;
}

main {
  margin: 2.5rem 0.2rem 2rem;

  article + article {
    margin-top: 2.25rem;
  }
}

@import 'components';
