// ## Colors

// ### Primary

$Pink: hsl(322, 100%, 66%);

// ### Neutral

$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Grayish-Blue: hsl(208, 11%, 55%);

$break-point-md: 600px;
$break-point-ld: 1024px;

@mixin mq($bp) {
  @media (min-width: $bp) {
    @content;
  }
}
